Django>=5.2,<5.3
djangorestframework>=3.17,<3.18
djangorestframework-simplejwt>=5.5,<6
django-cors-headers>=4.7,<5
django-simpleui>=2025.1,<2027
python-dotenv>=1.1,<2
Pillow>=11,<12
python-docx>=1.1,<2
pypdf>=5,<7
gunicorn>=23,<24
alibabacloud-dysmsapi20170525>=3.1,<4
